@import url("./Modal.scss");
.success {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 250px;
  border-radius: 4px;
  box-shadow: #06d606 1px 1px 5px;
  background-color: rgba(28, 247, 8, 0.78);
  padding: 10px;
  color: #1f1d1d;
}

.danger {
  position: fixed;
  top: 30px;
  right: 10px;
  width: 250px;
  border-radius: 4px;
  box-shadow: #310808 1px 1px 5px;
  background-color: rgba(177, 7, 15, 0.78);
  padding: 10px;
  color: #f5bfbf;

  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
